/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(29, 147, 194);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(56, 182, 220);
}
